.button {
  background-color: #4a445a;
  color: white;
  font-size: 1.5em;
  line-height: 1.5em;
  cursor: pointer;
  transition: all 100ms;
  user-select: none;
}

.button:hover {
  background-color: #b9fdf6;
  transform: scale(1.04);
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #82fff2;
  box-shadow: #b9fdf6 0 0 0 4px inset;
  transform: scale(1);
}

.button--last {
  grid-column: 3 / span 2;
}
